
body {
    margin: 0px auto;
    background-color: transparent;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-align: center;
    color: white;
}

/*HEADER*/
    header {
        height: 700px;
        margin: 0px auto;
        max-width: 100%;
        z-index: -1;
    }

        div.logo {
            display: flex;
            width: 100%;
            border-bottom: 1px solid white;
            background-color: transparent;
        }

        div.logo img {
            position: relative;
            height: 100px;
            margin: 0 auto;
            padding: 20px 20px;
            align-items: right;
        }   

        nav {
            display: flex;
            justify-content: flex-end;
            font-family: Helvetica;
            font-size: 20px;
            color: white;
            padding: 10px 20px;
        }

            nav span {
                margin: 10px 20px;
            }

            nav span:hover {
                text-decoration: underline;
                color: whitesmoke;
            }

/*MAIN CONTENT*/

    /*MISSION*/
    .main-content {
        background-color: rgba(255, 255, 255, 0.15);
    }
        #mission-bar {
            margin-top: -360px;
            padding: 20px 10px;
        }
    
    /*TEA*/
    .tea {
        background-color #948ca1
        height: auto;
        background-color: rgba(252,252, 252, 0.2);
    }
    
    .tea-titles {
        margin-top: 270px;
        border-bottom: 1px solid white;
    }


        .tea h2 {
            padding-top: 30px;
        }
    
    .teas {
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 150px;

    }

        .single-product {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 15px auto;
            
        }

            .single-product span {
                font-size: 20px;
                padding: 30px 30px;
                text-align: center;
                color: white;
                font-style: bold;
                background: rgba(255, 255, 255, 0.171);
                width: 170px;
            }

            .single-product:hover {
                opacity: 0.2;
                cursor: pointer;
                transition-duration: 2s;
            }



    
    


